# Q1: Import numpy library

In [5]:
# write your code here ^_^
import numpy as np

# Q2: Generate a sequence of 15 floats using linspace() function

In [10]:
# write your code here ^_^
x = np.linspace(0,15)
x

array([ 0.        ,  0.30612245,  0.6122449 ,  0.91836735,  1.2244898 ,
        1.53061224,  1.83673469,  2.14285714,  2.44897959,  2.75510204,
        3.06122449,  3.36734694,  3.67346939,  3.97959184,  4.28571429,
        4.59183673,  4.89795918,  5.20408163,  5.51020408,  5.81632653,
        6.12244898,  6.42857143,  6.73469388,  7.04081633,  7.34693878,
        7.65306122,  7.95918367,  8.26530612,  8.57142857,  8.87755102,
        9.18367347,  9.48979592,  9.79591837, 10.10204082, 10.40816327,
       10.71428571, 11.02040816, 11.32653061, 11.63265306, 11.93877551,
       12.24489796, 12.55102041, 12.85714286, 13.16326531, 13.46938776,
       13.7755102 , 14.08163265, 14.3877551 , 14.69387755, 15.        ])

# Q3: Create a 3-D array in shape (2, 2, 3) containing the four arrays given below 
Note : the array's name is up to you.

|      |       |          |         |
|------| ----- | -------- | ------- |
|arr1 | 1.1    | 2.1       | 3.1        |
|arr2 | 4.1    | 5.1       | 6.1        |
|arr3 | 7.1    | 8.1       | 9.1        |
|arr4 | 10.1   | 11.1      | 12.1       |

In [34]:
# write your code here ^_^
d3Array = np.array([
    [
     [1,1.1,2.1,3.1],   
     [2,4.1,5.1,6.1]       
    ],
    [
     [3,7.1,8.1,9.1],   
     [4,10.1,11.1,12.1]     
    ]   
])

d3Array

array([[[ 1. ,  1.1,  2.1,  3.1],
        [ 2. ,  4.1,  5.1,  6.1]],

       [[ 3. ,  7.1,  8.1,  9.1],
        [ 4. , 10.1, 11.1, 12.1]]])

In [35]:
d3Array.shape

(2, 2, 4)

# Q4: Print the following:
Note: use the same array from Q3.
- Array's type.
- Array's elements datatype.
- Array's shape.
- Array's size.
- Array's dimention.

In [36]:
# write your code here ^_^
type(d3Array)

numpy.ndarray

In [37]:
d3Array.dtype

dtype('float64')

In [38]:
d3Array.shape

(2, 2, 4)

In [39]:
d3Array.size

16

In [40]:
np.ndim(d3Array)

3

# Q5:  Change the array dimention from 3-D to 4-D
Note: use the same array from Q3.
- Create a new array to hold the changes. 
- Print the new array's dimention and shape.

In [41]:
# write your code here ^_^
d4Array = d3Array.reshape(2,2,2,2)
np.ndim(d4Array)

4

In [42]:
d4Array.shape

(2, 2, 2, 2)

# Q6: Change the array's elements datatype to integer  
Note: use the same array from Q5.

- Create a new array to hold the changes. 
- Print the new array.

In [53]:
# write your code here ^_^
d3Array = d3Array.astype(int)
d3Array

array([[[ 1,  1,  2,  3],
        [ 2,  4,  5,  6]],

       [[ 3,  7,  8,  9],
        [ 4, 10, 11, 12]]])

# Q7: Print all array's elements using for loop
Note: use the same array from Q6.

Hint: use nditer()

In [54]:
# write your code here ^_^
for i in np.nditer(d3Array):
    print(i)

1
1
2
3
2
4
5
6
3
7
8
9
4
10
11
12

# Q8:  Print number 8 using array slicing
Note: use the same array from Q6.

In [55]:
# write your code here ^_^
d3Array[1,0,2]

8

# Q9: Print number 5 and number 6 using array slicing
Note: use the same array from Q6.

In [84]:
# write your code here ^_^
x = d3Array[0,1,2]
y = d3Array[0,1,3]
print(x,y)

5 6

In [83]:
# d3Array[]

array([[ 3,  7,  8,  9],
       [ 4, 10, 11, 12]])

# Q10: Search for number 8 using where()
Note: use the same array from Q6.

Note: where() is only used with small data.

*the output represents the path of the index that leads to number 8*

In [91]:
# write your code here ^_^
np.where(d3Array==8)

(array([1]), array([0]), array([2]))

# Q11: Reshape the array as the following

    array([[[ 1, 2],
            [ 3,  4],
            [ 5,  6]],

           [[ 7,  8],
            [ 9, 10],
            [11, 12]]])
            
 Note: use the same array from Q6.

In [94]:
# write your code here ^_^
d3Array.reshape(2,4,2)

array([[[ 1,  1],
        [ 2,  3],
        [ 2,  4],
        [ 5,  6]],

       [[ 3,  7],
        [ 8,  9],
        [ 4, 10],
        [11, 12]]])

# Q12: Join the given arrays below 
    arr1 = np.array([['A', 'B'], ['E', 'F']])
    arr2 = np.array([['C', 'D'], ['G', 'H']])
## Q12.1: Join the arrays without specifying the axis

In [115]:
# write your code here ^_^
arr1 = np.array([['A', 'B'], ['E', 'F']])
arr2 = np.array([['C', 'D'], ['G', 'H']])
# joinedArray = np.row_stack((arr1,arr2))
joinedArray = np.concatenate((arr1, arr2))
joinedArray

array([['A', 'B'],
       ['E', 'F'],
       ['C', 'D'],
       ['G', 'H']], dtype='<U1')

# Q12.2: Join the arrays along rows with axis = 1

In [160]:
# write your code here ^_^
joinedArray = np.concatenate((arr1, arr2), axis = 1)
joinedArray

array([['A', 'B', 'C', 'D'],
       ['E', 'F', 'G', 'H']], dtype='<U1')

# Q13: Split the array into two arrays with axis = 1, each array should contain four arrays. 
Note: use the same array from Q12.1

In [159]:
# write your code here ^_^
# [B,C] = np.vsplit(joinedArray, 2)
[B,C] = np.split(joinedArray,[2,4],axis=1)

B

ValueError: too many values to unpack (expected 2)

In [137]:
C

array([['E', 'F', 'G', 'H']], dtype='<U1')